@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  margin: auto;
  font-family: Lato, serif;
}
a{
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*comparative styles*/
.color-button{
  background-color: #FF3340;
  color: white;
}
.comparative{
  font-family: Roboto;
  font-size: 14px;
}

/* ------------------HEADER--------------- */

.rimac-header, .navbar, .rimac-header ul,.rimac-header li, .btn-phone, .btn-my-account a{
  display: flex;
  align-items: center;
  justify-content: center
}
.rimac-header{
  height: 10vh;
  background-color: #ef3340;
  padding: 0% 5% 0% 5%;
  justify-content: space-between;

}
.navbar{
  height: 100%;
  align-items: center
}
.navbar a{
  display: flex;
  align-items: center
}
.navbar ul li{
 opacity: 0.8;
}
.rimac-header img{
  width: 100px;
  height: 18px;
}
.rimac-header ul{
  padding: 0%;
  margin:  0%  0% 0% 40px;
  height: 100%;
}
.rimac-header .navbar a{
  height: 100%;
}
.rimac-header li{
  height: 100%;
  color: #fff;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  width: 150px;
}
.btn-phone-img{
  width: 15px;
  height: 15px;
  padding: 10px;
}
.btn-phone p{
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  margin: 0%;
}
.btn-search img{
  width: 17px;
  height: 17px;
  padding: 10px;
}
.btn-my-account a{
  color: #fff;
  height: 70%;
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
   font-family: Lato, serif;
  font-size: 12px;
  font-weight: bold;
}
.btn-my-account i{
  padding-right: 10px
}
.btn-my-account p{
  margin: 0%
}
.fa-chevron-down{
  color: #fff;
  opacity: 0.9;
}

/* ------------------header--------------- */